<!DOCTYPE html>
<!-- 載入靜態檔案 -->
{% load static %}

<head>
    <h1>-----------</h1>
    <!--必要套件-->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <!--程式語言-->
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <!--額外功能-->
    <!--摺疊功能-->
    <script src="{% static 'codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/indent-fold.js' %}"></script>
    <!--摺疊外觀-->
    <link rel="stylesheet" href="{% static 'codemirror/addon/fold/foldgutter.css' %}"/>
    <!--摺疊左側標記-->
    <script src="{% static 'codemirror/addon/fold/foldgutter.js' %}"></script>
    <!--摺疊大括號{}功能-->
    <script src="{% static 'codemirror/addon/fold/brace-fold.js' %}"></script>
    <!--摺疊註解功能-->
    <script src="{% static 'codemirror/addon/fold/comment-fold.js' %}"></script>
</head>

<body>

<form action="htmlcreate_test/" method="get">
    <div id="mim" style="max-width: 50em">Python:<br>
    <textarea id="code-python" name="code">
print('A')
</textarea></div>


  <button name="subject" type="submit" value="Submit">OK!!!</button>
  <input type="button" value="Add" onclick= 'myFunction()' >
  <input type="button" value="Run" onclick= 'myFunction2()' >
</form>
<script id="script">
/*
 * Demonstration of code folding
 */

  //第一個textarea
  var te_python = document.getElementById("code-python");
  //第一個Editor
  var myCodeMirror;
  //codemirror陣列
  var codemirror_array = []
  //新增的textarea總數量(第一個Editor不算)
  var count = 0;
  //抓取所有textarea
  var textareass = document.getElementsByTagName("textarea");

  //第一個Editor
  myCodeMirror = CodeMirror.fromTextArea(te_python, {
		mode: "python",
		lineNumbers: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
  });
    //放入codemirror_array
	codemirror_array.push(myCodeMirror);

	//==================================
	//副程式 : 新增textarea
	//==================================
	function myFunction(){
	//暫存新的Editor
	var newmyCodeMirror;
	//新增TEXTAREA
	var btn=document.createElement("TEXTAREA");
	//預設內容
	var btn_text = document.createTextNode("#Coding...");

	//設定外部id
	btn.setAttribute("id", "code-python" + "-" + (count+1));
	//設定外部name
	btn.setAttribute("name", "code"+ (count+1));
	//放入預設內容
	btn.appendChild(btn_text);

	//新增到畫面上
	document.getElementById("mim").appendChild(btn);

	//建立Editor
	newmyCodeMirror = CodeMirror.fromTextArea(document.getElementById("code-python" + "-" + (count+1)), {
		mode: "python",
		lineNumbers: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
  });
	//放入codemirror_array
	codemirror_array.push(newmyCodeMirror);
	//textarea總數量 + 1
	count = count + 1
};

function myFunction2(){
		for (var i=0; i<codemirror_array.length; i=i+1){
			console.log(codemirror_array.length);
			console.log(codemirror_array[i].getValue());
		}


};

  </script>

</body>