<!DOCTYPE html>
<!-- 載入靜態檔案 -->
{% load static %}

<head>
    <!--必要套件-->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <!--程式語言-->
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <!--額外功能-->
    <!--摺疊功能-->
    <script src="{% static 'codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codemirror/addon/fold/indent-fold.js' %}"></script>
    <!--摺疊外觀-->
    <link rel="stylesheet" href="{% static 'codemirror/addon/fold/foldgutter.css' %}"/>
    <!--摺疊左側標記-->
    <script src="{% static 'codemirror/addon/fold/foldgutter.js' %}"></script>
    <!--摺疊大括號{}功能-->
    <script src="{% static 'codemirror/addon/fold/brace-fold.js' %}"></script>
    <!--摺疊註解功能-->
    <script src="{% static 'codemirror/addon/fold/comment-fold.js' %}"></script>

    <!--分割線-->
    <!--視窗分割-->
    <link rel="stylesheet" href="{% static 'General/General_CSS/General.css' %}"/>
</head>

<body>


<form action="hello_django/" method="get">
    <div id="Area_of_FunctionBar" class="FunctionBar1003">
        <input name="subject" type="submit" value="Submit">
        <input type="button" value="Add" onclick='myFunction()'>
    </div>
    <!--總元素-->
    <div id="mim" class="Flex_Wrap">
        <!---->
        <div id="Area_of_Editor" class="Flex_Left">
    <textarea id="code-python" name="code">
import unittest

class CalculatorTestCase(unittest.TestCase):
    def setUp(self):
        self.args = (3, 2)

    def tearDown(self):
        self.args = None

    def test_plus(self):
        expected = 5;
        result = calculator.plus(*self.args);
        self.assertEqual(expected, result);

    def test_minus(self):
        expected = 1;
        result = calculator.minus(*self.args);
        self.assertEqual(expected, result);

if __name__ == '__main__':
    unittest.main(verbosity=2)


    </textarea>
        </div>

        <!---->
        <div id="Area_of_CT" class="Flex_Right">
            <div id="Area_of_CT_Child" class="Flex_Right_FirstChild">
            <textarea id="CT_1" name="mutant1">
class calculator:
   def plus(a, b):
     return a * b

   def minus(a, b):
     return a / b
    </textarea>
            </div>
            <div id="Area_of_CT_Child" class="Flex_Right_Child">
            <textarea id="CT_2" name="mutant2">
class calculator:
   def plus(a, b):
     return a & b

   def minus(a, b):
     return a % b
    </textarea>
            </div>
            <div id="Area_of_CT_Child" class="Flex_Right_Child">
            <textarea id="CT_3" name="mutant3">
class calculator:
   def plus(a, b):
     return a + b

   def minus(a, b):
     return a - b
    </textarea>
            </div>
        </div>

    </div>
</form>


<script id="script">
    /*
     * Demonstration of code folding
     */

    //第一個textarea
    var te_python = document.getElementById("code-python");
    //第一個Editor
    var myCodeMirror;
    //codemirror陣列
    var codemirror_array = []
    //新增的textarea總數量(第一個Editor不算)
    var count = 0;
    //抓取所有textarea
    var textareass = document.getElementsByTagName("textarea");

    //第一個Editor
    myCodeMirror = CodeMirror.fromTextArea(te_python, {
        mode: "python",
        lineNumbers: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
    });
    //大小(W,H)
    myCodeMirror.setSize(900, 800)
    //放入codemirror_array
    codemirror_array.push(myCodeMirror);


    //Area_of_CT
    var CT_count = 3
    for (let i = 1; i <= CT_count; i++) {
        let CT_id = "CT_" + String(i);
        let temp_CT = document.getElementById(String(CT_id));
        let temp_codemirror

        temp_codemirror = CodeMirror.fromTextArea(temp_CT, {
            mode: "python",
            lineNumbers: true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
            //唯獨模式
            readOnly: true
        });
        //大小(W,H)
        temp_codemirror.setSize(400, 200)
    }


    //==================================
    //副程式 : 新增textarea
    //==================================
    function myFunction() {
        //暫存新的Editor
        let newmyCodeMirror;
        //新增TEXTAREA
        let btn = document.createElement("TEXTAREA");
        //預設內容
        let btn_text = document.createTextNode("#Coding...");

        //設定外部id
        btn.setAttribute("id", "code-python" + "-" + (count + 1));
        //設定外部name
        btn.setAttribute("name", "code" + (count + 1));
        //放入預設內容
        btn.appendChild(btn_text);

        //新增到畫面上
        document.getElementById("Area_of_Editor").appendChild(btn);

        //建立Editor
        newmyCodeMirror = CodeMirror.fromTextArea(document.getElementById("code-python" + "-" + (count + 1)), {
            mode: "python",
            lineNumbers: true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        });
        //大小(W,H)
        //newmyCodeMirror.setSize(500, 300)
        //放入codemirror_array
        codemirror_array.push(newmyCodeMirror);
        //textarea總數量 + 1
        count = count + 1
    };

</script>

</body>